<% layout('/layouts/boilerplate') %>


    <h3 class="page-header">Transactions</h3>

    <div>
        <%for(let transaction of transactions) {%>
                <p><%= transaction.transaction %> - Date: <%= transaction.createdAt %></p>
            <% } %>
    </div>

